doctype html
html(lang='en')
  include common/head.pug
  +head("Home Page with Yoghurt")
  // '=' left side of the equal sign must be adjacent to h1 element
  //comments have to be in a separate line from the expressions
  
  body
    h1=title
    p Welcome to #{title}    
    form(action="/", method="POST")
      input(name="lead_email", type="email", placeholder="Enter your email address")
      | &nbsp
      button(type="submit") Submit
    if leads
      h1 Leads  
      for lead in leads
        p(id=lead.id) 
          span #{lead.Email}
          | &nbsp
          a(href= "/lead/" + lead.id) Details
          | &nbsp
          button(onclick=`deleteLead('${lead.id}')`) Delete
    include common/footer.pug      
    script(src="/javascripts/leads.js")       
